In [1]:
import pandas as pd
import datetime
import time

In [2]:
today = datetime.datetime.now().strftime("%d-%m-%Y")
print("Hôm nay là ngày:", today)

Hôm nay là ngày: 10-12-2023

In [3]:
# ratings = pd.read_csv("./enrich/07-12-2023/ratings.csv")
ratings = pd.read_csv(f"./enrich/{today}/ratings.csv")
ratings

         userID  itemID  rating   timestamp
0             1    1193       5   978300760
1             1     661       3   978302109
2             1     914       3   978301968
3             1    3408       4   978300275
4             1    2355       5   978824291
...         ...     ...     ...         ...
1382931    2198    3541       5  1691222069
1382932    1512      77       5  1695154347
1382933    1520    2224       1  1691442202
1382934    1740    1310       1  1688078268
1382935     463    1099       2  1673360235

[1382936 rows x 4 columns]

In [4]:
movies = pd.read_csv("./enrich/movies.csv")

In [5]:
users = pd.read_csv("./enrich/users.csv")

In [6]:
curatedData = ratings.merge(users, on="userID", how="inner")
curatedData = curatedData.merge(movies, on="itemID", how = "inner")
# curatedData.to_csv("./curated/ratings_info.csv", index=False)

In [7]:
temp = curatedData.copy()

In [8]:
temp["timestamp"] = pd.to_datetime(curatedData['timestamp'], unit='s')
temp['timestamp'] = temp['timestamp'].dt.strftime('%d-%m-%Y')
temp.to_csv("./curated/ratings_info.csv", index=False)