In [31]:
import pandas as pd
import numpy as np
import time
import datetime
current_timestamp = int(time.time())

In [20]:
datetime.datetime.now().strftime("%#d/%m/%Y")

'7/12/2023'

In [33]:
now_datetime = datetime.datetime.now().strftime("%d/%m/%Y")
now_datetime = "06-12-2023"
datetime.datetime.now() + datetime.timedelta(days=30)

datetime.datetime(2024, 1, 6, 1, 46, 31, 122674)

In [22]:
import os
try:
    os.mkdir(f"./enrich/{now_datetime}")
except:
    print("Thư mục đã tồn tại")
# try:
#     os.mkdir(f"./raw/{now_datetime}")
# except:
#     print("Thư mục đã tồn tại")

In [23]:
df = pd.read_csv("./enrich/ratings.csv")
# df.to_csv("tempfile.csv")
df

         userID  itemID  rating  timestamp
0             1    1193       5  978300760
1             1     661       3  978302109
2             1     914       3  978301968
3             1    3408       4  978300275
4             1    2355       5  978824291
...         ...     ...     ...        ...
1000204    6040    1091       1  956716541
1000205    6040    1094       5  956704887
1000206    6040     562       5  956704746
1000207    6040    1096       4  956715648
1000208    6040    1097       4  956715569

[1000209 rows x 4 columns]

In [24]:
df = pd.read_csv("tempfile.csv")

In [36]:
for x in range(0,16):
    time = datetime.datetime.now() + datetime.timedelta(days=x)
    now_datetime = time.strftime("%d-%m-%Y")
    print(now_datetime)
    all_userIDs = df['userID'].unique()
    all_itemIDs = df['itemID'].unique()

    # Lấy ra các cặp giá trị (userID, itemID)
    existing_combinations = list(zip(df['userID'], df['itemID']))


    # Tạo giá trị rating ngẫu nhiên với xác suất 4 và 5 cao hơn so với 1, 2, 3
    size = 100000 # 100k
    new_userIDs = np.random.choice(all_userIDs, size= size)
    new_itemIDs = np.random.choice(all_itemIDs, size= size)
    new_ratings = np.random.choice([1, 2, 3, 4, 5], size= size, p=[0.1, 0.1, 0.1, 0.4, 0.3])
    timestamp_array = np.random.randint(current_timestamp - 3600*24*365*3, current_timestamp, size=size)

    # Tạo DataFrame mới với userID, itemID và rating
    new_df = pd.DataFrame({'userID': new_userIDs, 'itemID': new_itemIDs, 'rating': new_ratings, "timestamp": timestamp_array})

    # In ra DataFrame mới
    filtered_new_df = new_df[~new_df[['userID', 'itemID']].apply(tuple, axis=1).isin(existing_combinations)]
    filtered_new_df.to_csv(f"./raw/{now_datetime}.csv", index=False)

07-12-2023
08-12-2023
09-12-2023
10-12-2023
11-12-2023
12-12-2023
13-12-2023
14-12-2023
15-12-2023
16-12-2023
17-12-2023
18-12-2023
19-12-2023
20-12-2023
21-12-2023
22-12-2023